In [1]:
# 2019.08.22 pandas start
"""
* 참조사이트
http://pythonstudy.xyz/python/article/408-pandas-%EB%8D%B0%EC%9D%B4%ED%83%80-%EB%B6%84%EC%84%9D 

"""

'\n* 참조사이트\nhttp://pythonstudy.xyz/python/article/408-pandas-%EB%8D%B0%EC%9D%B4%ED%83%80-%EB%B6%84%EC%84%9D \n\n'

In [4]:
import pandas as pd
# Series란? = 가장 간단한 1차원 자료구조
data = [1,3,5,7,9]
s = pd.Series(data)
s

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [7]:
# DataFrame 2차원 자료구조
import pandas as pd
data = {
    'year' : [2016,2017,2018],
    'GDP rate' : [2.8,3.7,3.0],
    'GDP' : ['1.637M','1.73M','1.83M']
}

df = pd.DataFrame(data)
df

   year  GDP rate     GDP
0  2016       2.8  1.637M
1  2017       3.7   1.73M
2  2018       3.0   1.83M

In [8]:
# Panel 3차원 자료구조인 Axis 0 , Axis 1 Axis 2 3개의 축을 가지고 있다
"""
Axis 0 2차원의 DataFrame에 해당 / Axis 1은 DataFrame의 행에 해당 / Axis 2는 DataFrame의 열에 해당한다 
"""
import numpy as np

data = np.random.rand(2,3,4)
p = pd.Panel(data)
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 4 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 2
Minor_axis axis: 0 to 3

C:\Users\TEMP.LAPTOP-O3QKMG8C.000\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
p[0]

          0         1         2         3
0  0.581194  0.726189  0.173906  0.529987
1  0.833661  0.180624  0.834561  0.679794
2  0.968082  0.949709  0.912913  0.673658